@import "../../../styles/variables.scss";

.hero_section {
    height: auto;
    padding: 0;
    background: url('/images/case-study/syncronicity/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 991px) {
        padding: 30px 0;
    }
    .logo {
        width: 18vw;
        margin-bottom: 1vw;
        @media (max-width: 767px) {
            width: 120px;
            margin-bottom: 20px;
          }
    }
    .banimg {
        max-width: 60vw;
        width: 100%;
        @media (max-width: 767px) {
          max-width: 100%;
        }
    }
    .para {
        color: #fff;
    }
    .ban2 {
        margin-bottom: -14vw;
        max-width: 18vw;
        width: 100%;
        @media (max-width: 991px) {
            display: none;
         }
    }
    .ban1 {
        margin-top: -14vw;
        max-width: 18vw;
        width: 100%;
        display: block;
        margin-left: auto;
        @media (max-width: 991px) {
           display: none;
        }
    }
}

.btn_main {
    background: #8771DE;
    font-weight: 400;
    color: $white;
    &:hover {
        background: #6754b3;
        color: $white;
    }
}

.para {
    color: #505050;
    margin-bottom: 1.5vw;
    @media (max-width: 767px) {
        margin-bottom: 10px;
     }
}
.heading {
    color: #170A4B;
    font-weight: 500;
    span {
        color: #8771DE;
        font-weight: 600;
    }
    @media (min-width: 992px) {
        font-size: clamp(2.2rem, 4.2vw, 6.5rem);
    }
    @media (max-width: 991px) {
        br {
            display: none;
        }
    }
}

.bg_theme {
    position: relative;
    border-radius: 2.2vw;
    background: #fff;
    margin: 0 2vw;
} 

.minusright {
    @media (min-width: 992px) {
        margin-right: -8vw;
    }
}
.ctasec {
    background-color: #fff;
    .heading {
        color: #000;
    }
}

.cenimg {
    border-radius: 100vw;
    background: #F4E9FF;
    margin-top: 8vw;
    margin-bottom: 8vw;
    img {
        margin: -8vw 0;
    }
}


.store {
    display: flex;
    gap: 1.2vw;
    margin-top: 2vw;
    position: relative;
    z-index: 1;
    img {
        width: 10vw;
        @media (max-width: 767px) {
            width: 120px;
        }
    }
}

.stacks {
    text-align: center;
    .box {
        background: #FFFBE7;
        border-radius: 1vw;
        text-align: left;
        padding: 1.4vw;
        @media (max-width: 767px) {
            padding: 14px;
        }
        .title {
            font-size: clamp(1.1rem, 1.4vw, 4rem);
        }
        img {
            mix-blend-mode: multiply;
            height: 3.5vw;
            margin-bottom: 1vw;
            @media (max-width: 767px) {
                height: 40px;
            }
        }
    }
}

.box_row {
    .box {
        border-radius: 20px;
        background: #F4E9FF;
        padding: 2vw;
        text-align: center;
        h4 {
            font-weight: 400;
            font-size: clamp(1rem, 1.2vw, 3rem);
        }
        h2 {
            font-weight: 400;
            font-size: clamp(1.6rem, 2.2vw, 5rem);
            margin-bottom: 0;
        }
    }
}