@import "../../../styles/variables.scss";

.hero_section {
    text-align: center;
    height: auto;
    padding: 2vw 0 0;
    background-color: #D81E290D;
    @media (max-width: 991px) {
        padding: 20px 0 0;
    }
    .logo {
        width: 14vw;
        margin-bottom: 1vw;
        @media (max-width: 991px) {
            width: 120px;
            margin-bottom: 10px;
        }
    }
    .heading {
        color: #7999A8;
    }
    .banimg {
        max-width: 60vw;
        margin-top: 2vw;
        @media (max-width: 767px) {
            max-width: 90%;
            margin-top: 20px;
        }
    }
}

.btn_main {
    background: #010101;
    font-weight: 400;
    color: $white;
    &:hover {
        background: #000000;
        color: $white;
    }
}

.para {
    color: #505050;
    margin-bottom: 1.5vw;
    @media (max-width: 767px) {
        margin-bottom: 10px;
     }
}
.heading {
    color: #1e1e1e;
    font-weight: 500;
    span {
        font-weight: 600;
    }
    
    @media (min-width: 992px) {
        font-size: clamp(2.2rem, 3.5vw, 6.0rem);
    }
    
    @media (max-width: 991px) {
        br {
            display: none;
        }
    }
}
.bgelem {
    position: absolute;
    max-width: 40vw;
    margin-top: -3vw;
    @media (max-width: 991px) {
        max-width: 100%;
        margin: 0;
    }
}

.bg_theme {
    background: linear-gradient(274deg, #00009D -22.46%, #118CFD 83.69%);
    position: relative;
    background: url("/images/case-study/scribble/bgicon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    .heading {
        color: #B6925D;
    }
}
.bg_blue {
    background-color: #E7F3FF;
    position: relative;
    .heading {
        color: #7999A8;
    }
}
.branding_sec {
    .heading {
        margin-bottom: 2vw;
    }
}
.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctasec {
    .heading {
        color: #000;
    }
}