@import "/styles/variables.scss";

.checkboxes {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 16px 0;

  @media (max-width: 1199px) {
    gap: 10px;
  }

  .inner {
    position: relative;

    label {
      overflow: hidden;
      border-radius: 49px;
      border: 2px solid $black;
      display: inline-block;
      color: $black;
      padding: .5em 1.5em;
      font-size: clamp(1rem, 1.5vw, 2rem);
      position: relative;
      span {
        display: block;
        position: relative;
        // mix-blend-mode: difference;
        z-index: 10;
      }

      &:hover {
        &::before {
          transform: translate3d(-50%, 0%, 0) scale(3);
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &::before {
        content: "";
        background: $primary;
        width: 50%;
        height: 100%;
        top: 0;
        left: 50%;
        border-radius: 100%;
        transform: translate3d(-50%, 100%, 0);
        transition: transform 0.5s cubic-bezier(0.1, 0, 0.3, 1);
      }
    }

    input {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 11;
      &:checked {
        +label {
          background: $black;
          color: $white;
        }
      }
      &:hover {
        + {
          label {
            color: $white;
            &::before {
              transform: translate3d(-50%, 0%, 0) scale(3);
            }
          }
        }
      }
    }
  }
}

@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, -100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


