@import "../../../styles/variables.scss";

.hero_section {
  height: auto;
  padding: 6vw 0;
  background-image: url("/images/case-study/party-cade/banner.png");
  background-size: cover;
  background-position: center;
  @media (max-width: 991px) {
    padding: 20px 0;
  }
  .logo {
    width: 18vw;
    margin-bottom: 1vw;
  }
  .banimg {
    max-width: 60vw;
    width: 100%;
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
  .heading {
    -webkit-text-fill-color: unset;
    color: #000;
    @media (min-width: 1200px) {
      margin-right: -2vw;
    }
  }
}

.gamingModePersonal {
  font-size: 50px;
}

.text-shadow {
  background: linear-gradient(119deg, #FFD72D -10.37%, #D0550A 85.35%);
  background-clip: text;
  -webkit-background-clip: text;


}

.btn_main {
  background: #257004;
  font-weight: 400;
  color: $white;
  &:hover {
    background: #216404;
    color: $white;
  }
}

.para {
  color: #000;
  margin-bottom: 1.5vw;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.heading {
   font-weight: 400;
   font-family: $Party_font;
  background: linear-gradient(119deg, #FFD72D -10.37%, #D0550A 85.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (min-width: 992px) {
    font-size: clamp(1.4rem, 2.4vw, 4.4rem);
  }
  @media (max-width: 991px) {
    br {
      display: none;
    }
  }
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.bg_theme {
  position: relative;
  background-image: url("/images/case-study/party-cade/image181.png");
  background-size: cover;
  background-position: center;
  background: #FFFAEA;
}
.bg_theme2 {
  background: #FFFAEA;
}

.heading {
  color: #272727;

  span {
    color: #fdb813;
  }
}

.downladButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;

  .downloadBtn1 {
    fill: #fff;
    box-shadow: 0px 0px 3px 0px #d36909 inset;
    border-radius: 20px;
    @media (min-width: 768px) {
      width: 196px;
      height: 64px;
    }
  }
}

.contentMaxWidth {
  @media (min-width: 768px) {
    max-width: 70%;
  }
  margin: 0 auto;
  max-width: 100%;
}

.ourMission {
  border-radius: 40px;
  background-image: url("/images/case-study/bello/mission-bg.png");
  background-size: cover;
  background-position: center;

  width: 100%;
  max-width: 90%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 100%;
    background-image: url("/images/case-study/bello/ourmissionbg.svg");
    background-size: 100% 100%;
    left: -46px;
    top: 0px;
  }
}

.featureGlanceSection {
  position: relative;

  img {
    position: relative;
    z-index: 10;
    margin-bottom: 2vw;
    width: 100%;
  }
}

.ctasec {
  .heading {
    color: #000;
  }
}

// .cenimg {
//     border-radius: 3vw;
//     margin-top: 4vw;
// }

.store {
  display: flex;
  gap: 1.2vw;
  margin-top: 2vw;
  position: relative;
  z-index: 1;
  img {
    width: 10vw;
    @media (max-width: 767px) {
      width: 120px;
    }
  }
}

.stacks {
  text-align: center;
  .box {
    background: #fffbe7;
    border-radius: 1vw;
    text-align: left;
    padding: 1.4vw;
    @media (max-width: 767px) {
      padding: 14px;
    }
    .title {
      font-size: clamp(1.1rem, 1.4vw, 4rem);
    }
    img {
      mix-blend-mode: multiply;
      height: 3.5vw;
      margin-bottom: 1vw;
      @media (max-width: 767px) {
        height: 40px;
      }
    }
  }
}

.box_row {
  margin-bottom: 2vw;
  .box {
    border-radius: 20px;
    background: #ffebeb;
    padding: 2vw;
    text-align: center;
    h4 {
      font-weight: 400;
      font-size: clamp(1.2rem, 1.5vw, 4rem);
    }
    h2 {
      font-weight: 400;
      font-size: clamp(1.5rem, 2vw, 5rem);
      margin-bottom: 0;
    }
  }
}

.theResult {
  width: 100%;
  height: 445px;
  border-radius: 40px;
  background: rgba(255, 250, 237, 0.97);
}

.heorHeading {
  color: #fdb813;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;

  & + .para {
    color: #dfdfdf;
  }
}

.button {
  width: 176px;
  height: 40px;
  border-radius: 60px;
  background: #fdb813;
  font-size: 14px;
  border: none;
}

.textClipText {
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #ffaf00;

  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.LargeHeading {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.challenges-images {
  img {
    height: 600px;
    object-fit: contain;
  }
}

.partyCardBackground {
  background-image: url("/images/case-study/party-cade/bg.png");
  // background-size:cover;
  // background-position: center;

  @media (min-width: 992px) {
    margin-top: 248px;
  }
}

.maxWidthHeading {
  max-width: 80%;
  margin-right: unset !important;
  text-align: center;
}

.heroImage {
  @media (min-width: 992px) {
    margin-bottom: -23vw;
  }
}
.topspace {
  @media (min-width: 992px) {
    margin-top: 10vw;
  }
}


.bannerBg {
  position: relative;

  &::after { 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/images/case-study/party-cade/bg.png');
    background-size: 100% 100%;
    left: 0px;
    top: 0px;

    @media (max-width:768px) {
      width: 0px;

      height: 0px;
    }
  }

  & > * { 
    position: relative;
    z-index: 20;
  }
}


.maxHeading { 

  @media (min-width:768px) {
    max-width: 72%;
    margin: 0 auto;
    
  }
}


.maxImageWidth { 
  @media (max-width:768px) {
    max-width: 40% !important;
  }
}