@import "../../../styles/variables.scss";

.hero_section {
    height: auto;
    padding: 6vw 0;
    background: linear-gradient(180deg, #FFEBEB 0%, rgba(255, 235, 235, 0.00) 100%); 
    @media (max-width: 991px) {
        padding: 20px 0;
    }
    .logo {
        width: 18vw;
        margin-bottom: 1vw;
    }
    .banimg {
        min-width: 49vw;
        width: 100%;
        @media (max-width: 767px) {
          max-width: 100%;
        }
    }
    .heading {
        @media (min-width: 1200px) {
            margin-right: -2vw;
          }
    }
}

.btn_main {
    background: #D41922;
    font-weight: 400;
    color: $white;
    &:hover {
        background: #c0161f;
        color: $white;
    }
}

.para {
    color: #505050;
    margin-bottom: 1.5vw;
    @media (max-width: 767px) {
        margin-bottom: 10px;
     }
}
.heading {
    color: #D41922;
    font-weight: 400;
    font-family: $Adonai_font2;
    @media (min-width: 992px) {
        font-size: clamp(2.2rem, 4.2vw, 6.5rem);
    }
    @media (max-width: 991px) {
        br {
            display: none;
        }
    }
}

.bg_theme {
    position: relative;
    background: linear-gradient(180deg, #FFEBEB 0%, rgba(255, 235, 235, 0.00) 100%);
} 


.ctasec {
    .heading {
        color: #000;
    }
}

// .cenimg {
//     border-radius: 3vw;
//     margin-top: 4vw;
// }

.store {
    display: flex;
    gap: 1.2vw;
    margin-top: 2vw;
    position: relative;
    z-index: 1;
    img {
        width: 10vw;
        @media (max-width: 767px) {
            width: 120px;
        }
    }
}

.stacks {
    text-align: center;
    .box {
        background: #FFFBE7;
        border-radius: 1vw;
        text-align: left;
        padding: 1.4vw;
        @media (max-width: 767px) {
            padding: 14px;
        }
        .title {
            font-size: clamp(1.1rem, 1.4vw, 4rem);
        }
        img {
            mix-blend-mode: multiply;
            height: 3.5vw;
            margin-bottom: 1vw;
            @media (max-width: 767px) {
                height: 40px;
            }
        }
    }
}

.box_row {
    margin-bottom: 2vw;
    .box {
        border-radius: 20px;
        background: #FFEBEB;
        padding: 2vw;
        text-align: center;
        h4 {
            font-weight: 400;
            font-size: clamp(1.2rem, 1.5vw, 4rem);
        }
        h2 {
            font-weight: 400;
            font-size: clamp(1.5rem, 2vw, 5rem);
            margin-bottom: 0;
        }
    }
}