@import "../../../styles/variables.scss";

.hero_section {
    text-align: center;
    height: auto;
    padding: 2vw 0 0;
    background-color: #D81E290D;
    @media (max-width: 991px) {
        padding: 20px 0 0;
    }
    .logo {
        width: 14vw;
        margin-bottom: 1vw;
        @media (max-width: 991px) {
            width: 120px;
            margin-bottom: 10px;
        }
    }
    
    .banimg {
        max-width: 60vw;
        margin-top: 2vw;
        @media (max-width: 767px) {
            max-width: 90%;
            margin-top: 20px;
        }
    }
    .heading {
        font-size: clamp(2.4rem, 4.5vw, 7rem);
        font-weight: 600;
        span {
            display: block;
            font-size: clamp(1.4rem, 2.5vw, 4.5rem);
            color: #FFCC00;
            font-weight: 500;
        }
    }
}

.btn_main {
    background: #FFCC00;
    font-weight: 400;
    &:hover {
        background: #d3aa06;

    }
}

.para {
    color: #505050;
    margin-bottom: 1.5vw;
    @media (max-width: 767px) {
        margin-bottom: 10px;
     }
}
.heading {
    color: #D81E29;
    font-weight: 500;
    span {
        color: #2DABE8;
    }
    
    @media (min-width: 992px) {
        font-size: clamp(2.1rem, 3.6vw, 6.3rem);
    }
    
    @media (max-width: 991px) {
        br {
            display: none;
        }
    }
}
.bgelem {
    position: absolute;
    max-width: 40vw;
    margin-top: -3vw;
    @media (max-width: 991px) {
        max-width: 100%;
        margin: 0;
    }
    
}

.bg_theme {
    background: #D2171E;
    position: relative;
    .heading {
        color: $white;
    }
    .para {
        color: $white;
    }
    .bgicon {
        position: absolute;
        right: 4vw;
        top: 2vw;
        bottom: 0;
        height: 100%;
        object-fit: cover;
    }
}
.bg_blue {
    background-color: #D81E290D;
    position: relative;
}
.branding_sec {
    .heading {
        margin-bottom: 2vw;
    }
}
.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctasec {
    .heading {
        color: #000;
    }
}