.portfolioModal {
    background: #FFF5D3;
    width: 100%;
}

.portfolioModalNew {
    width: 100%;
    height: 80vh;

    // @media (max-width:1440px) {
    //     height: auto;
    // }


    @media (max-width:992px) {
        height: 90vh;
        overflow-y: auto;
    }
    
    &::-webkit-scrollbar { 
        width: 0px;
        height: 0px;
    }
    @media (max-width:768px) {
        width: 83vw;
    }


    position: relative;
    z-index: 1;
}

.projectDescription {
    color: #2C2C2C;

    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;

   



    @media (max-width:992px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    

    @media (max-width:1440px) {
        font-size: 17px;
    }

    @media (max-width:768px) {
        font-size: 14px;
    }

    @media (min-width:992px) {
        max-width: 90%;
    }

    
}


.projectHeading {
    color: #2C2C2C;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;

    @media (max-width:1440px) {
        font-size: 22px;
    }

    @media (max-width:768px) {
        font-size: 15px;
    }
}

.projectDescriptionUtil {
    color: #2C2C2C;

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

    @media (max-width:1440px) {
        font-size: 22px;
    }
    @media (max-width:768px) {
        font-size: 15px;
    }
}


.sands-rental { 

}

.projectLogo { 
 

    @media (max-width:1440px) {
        width: 130px;
        height: 90px;
        object-fit: contain;
    }

    @media (max-width:768px) {
        width: 165px;
        // height: 50px;
    }

}


.modalContainer { 
    // position: relative;


    // .projectImage { 
    //     position: absolute;
    //     right: 95px;
    //     top: 130px;
    //     width: 41vw;
    //     object-fit: contain;

    //     // @media (max-width:1440px) {
    //     //     height: 65vh;
    //     // }

    //     @media (max-width:992px) {
    //         position: static;
    //         height: auto;
    //         margin-top: 10px;
    //     }

    //     @media (max-width:768px) {
    //         width: 100vw;
    //     }
    // }

    h3 { 
        font-size: 50px;

        @media (max-width:768px) {
            font-size: 20px;
        }
    }
}

.backgroundImage { 
    position: absolute;
    width: 100%;
    height: 101%;
    top: 0px;
    left: 0px;
    opacity: 0.03;
}

.projectTitle { 
    font-size: 50px;
    max-width: 60%;



    @media (max-width:1556px) {
        font-size: 30px;
    }

    @media (max-width:768px) {
        font-size: 20px;
        max-width: 100%;
    }
}

.modalBody { 
    border-radius: 32px;
    
    @media (max-width:992px) {
        border-radius: 20px;
    }
}