@import "/styles/variables.scss";

section.loading_screen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  background: $white;
  z-index: 9991;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
    font-size: 12vw;
    color: $white;
  }

  .slider {
    width: 100%;
    max-width: 200px;
    background: $white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    .ball {
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      background: linear-gradient(
        163deg,
        rgba(235, 0, 67, 0.84) 11.51%,
        rgba(235, 0, 67, 0.54) 164.19%
      );
    }
  }
}
